@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#title {
    margin-top: 1em;
    text-align: center;
    font-weight: 600;
}

#subtitle {
    margin-top: 1.1em;
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.75);
}

#github-page {
    margin-top: 0.9em;
    text-align: center;
    font-weight: normal;
    font-size: 1em;
    text-decoration: underline;
}

a:link, a:visited, a:active {
    color: rgba(0, 0, 0, 0.75);
}

a:hover {
    color: rgba(0, 0, 0, 0.5)
}

#task-add {
    display: flex;
    margin: 1vh auto;
    width: 55vw;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

#task-add input {
    width: 40vw;
    height: 2rem;
    margin-right: 1vw;
    font-size: 0.9rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgb(100, 149, 237);
}

#task-add button {
    width: 12.5vw;
    height: 2.5rem;
    margin-right: 0.3vw;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    /*
    Will add JavaScript code here to change the color of the button depending if we have items
    within the input field on the left of it
    */
    transition: background-color 0.5s;
    background-color: rgba(100, 149, 237, 0.5);
    border: none;
    cursor: not-allowed;
}

#task-list {
    position: relative;
    font-size: 1.2rem;
    list-style: none;
    width: 55vw;
    padding: 0;
    margin: auto;
}

#task-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1em auto;
}

.task {
    white-space: normal;
    width: 50vw;
    overflow-wrap: anywhere;
}

.task-checkbox {
    margin-right: 1em;
    width: 1.2em;
    height: 1.2em;
}

.delete-btn {
    margin: auto 1em;
    padding: 1.1em;
    background-image: url('assets/cross.svg');
    background-size: cover;
    background-color: #ffffff;
    border: none;
    transition: transform 0.2s ease-in-out;
}

.delete-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.strike-through {
    text-decoration: line-through;
}